<div class="container">
  <div class="row">

<h4> Edit User</h4>


<form action="/update_user/<%= @user.id %>">
  
   <input type="text"  name="name" placeholder = "your name">
   </br>
  </br>
   <input type="text"  name="url" placeholder = "link address you can post">
   </br>
  </br>
<input type="text"  name="email" placeholder = "email address">
   </br>
  </br>
 <input type="text"  name="advice" placeholder = "your advice">
   </br>
  </br>
 <input type="text"  name="caption" placeholder = "description">
   </br>
  </br>
  <input type="submit">
</form>
  
  
</div>
</div>